<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<connectionStrings>
		<add name="OrderDbContext" connectionString="server=.;database=OrderingServiceDemoV1;trusted_connection=true" providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<system.serviceModel>
		<services>
			<service name="EFG.OrderService.OrderService">
				<endpoint address="Order" binding="netTcpBinding" contract="EFG.OrderService.IOrderService"/>
				<endpoint address="Order/MEX" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:2113" />
						<!--<add baseAddress="http://localhost:2112"/>-->
					</baseAddresses>
				</host>
				<!--<endpoint address="http://localhost:2114/Order" binding="basicHttpBinding" contract="EFG.OrderService.IOrderService"/>-->
				<!--<endpoint address="http://192.168.1.101:2112/Order" binding="basicHttpBinding" contract="EFG.OrderService.IOrderService"/>-->
				<!--<endpoint address="http://192.168.1.101:2112/Order" binding="basicHttpBinding" contract="EFG.OrderService.IOrderService"/>
				<endpoint address="net.tcp://192.168.1.101:2113/Order" binding="netTcpBinding" contract="EFG.OrderService.IOrderService"/>-->
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<serviceMetadata />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<netTcpBinding>
				<binding maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
					<readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
					<security mode="None">
						<transport clientCredentialType="None" />
						<message clientCredentialType="None"/>
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
</configuration>
